/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --primary-color: #2a2f34;
    --secondary-color: #416a8e;
    --tertiary-color: #fff3fc;

}

/* Global Styles */

body {
    font-family: "inter", sans-serif;
    color: var(--Secondary-color);
    background-color: var(--tertiary-color); 
}

h1, h3, h2, h5 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

p {
    font-family: var(--primary-font);
}

@media (max-width: 320px) {
    .card-body {
        display: none;
        /* Hide card body initially on small screens */
    }

    .accordion-button {
        display: block;
        /* Display accordion button */
    }
}

/* jumbotron css */
.jumbotron {
    position: relative;
    background-color: #f8f9fa;
    padding: 0;
    /* Remove extra padding to make the image fit better */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 60vh;
    /* adjust hero image height here */
    background: url('/assets/images/seaview.jpg') no-repeat center center;
    background-size: cover;
}

.overlay-text {
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 1rem;
}

/* recourse section CSS */
.resource-grid {
    padding: 2rem 0;
    background-color: #e0f7fa;
    /* Light blue background color */
    border-radius: 15px;
    /* Rounded edges for the background */
}

.resource-card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.resource-card:hover {
    transform: translateY(-5px);
}

.resource-card .card-body {
    text-align: center;
}

.resource-button {
    margin-top: 1rem;
}

footer {
    font-family: "inter", sans-serif;
    color: var(--Secondary-color);
    background-color: var(--tertiary-color); 
}

@media (max-width: 576px) {
    .overlay-text {
        font-size: 0.7rem;
        /* font size for smaller screens */
        padding: 0.5rem;
    }
}


@media (min-width: 321px) {
    .accordion-button {
        display: none;
        /* Hide accordion button on larger screens */
    }
}

/* nav bar media queries */
