/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --primary-color: #2a2f34;
    --secondary-color: #416a8e;

}

/* Global Styles */
body {
    font-family: "inter", sans-serif;
    color: var(--Secondary-color)
}

h1 {
    color: var(--primary-color)
}

@media (max-width: 320px) {
    .card-body {
        display: none;
        /* Hide card body initially on small screens */
    }

    .accordion-button {
        display: block;
        /* Display accordion button */
    }
}

@media (min-width: 321px) {
    .accordion-button {
        display: none;
        /* Hide accordion button on larger screens */
    }
}